.mainMenu {
    background-image: url("images/spaghetti_v2.jpg");
    background-color: #1B2223;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.navigationBar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #F4FEFD;
    padding: 5px;
}

.navigationBar a{
    text-decoration: inherit;
    color: #1B2223;
}

.logo {
    margin: 10px;
}

.logo img {
    width: 40px;
    height: 40px;
}

.list {
    font-family: Arial, sans-serif;
    font-weight: bold;
    list-style: none;
    display: flex;
    gap: 20px;
}

.list li {
    margin-top: 20px;
}

.list li a {
    text-decoration: none;
    transition: color 0.2s;
}

.list li a:hover {
    color: #8E43ED;
}
#toggler,
.navigationBar label {
    display: none;
}

@media screen and (max-width: 770px) {
    .menuList {
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }

    .list {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .navigationBar label {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
    }

    #toggler:checked ~ .menuList {
        max-height: 100%;
    }

}

/*druha stranka o nas*/

.oNas {
    background-color: #1B2223;
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;

}

.bg-image-full {
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
}

.whiteColor {
    color: #F4FEFD;
}


/*
ikonky tímu kuchárov
 */

.row.heading h2 {
    color: #fff;
    font-size: 52.52px;
    line-height: 95px;
    font-weight: 400;
    text-align: center;
    margin: 0 0 40px;
    padding-bottom: 20px;
    text-transform: uppercase;
}
ul{
    margin:0;
    padding:0;
    list-style:none;
}
.heading.heading-icon {
    display: block;
}
.padding-lg {
    display: block;
    padding-top: 60px;
    padding-bottom: 60px;
}
.practice-area.padding-lg {
    padding-bottom: 55px;
    padding-top: 55px;
}
.practice-area .inner{
    border:1px solid #999999;
    text-align:center;
    margin-bottom:28px;
    padding:40px 25px;
}
.our-webcoderskull .cnt-block:hover {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    border: 0;
}
.practice-area .inner h3{
    color:#3c3c3c;
    font-size:24px;
    font-weight:500;
    font-family: 'Poppins', sans-serif;
    padding: 10px 0;
}
.practice-area .inner p{
    font-size:14px;
    line-height:22px;
    font-weight:400;
}
.practice-area .inner img{
    display:inline-block;
}

.our-webcoderskull .cnt-block{
    float:left;
    width:100%;
    background:#fff;
    padding:30px 20px;
    text-align:center;
    border:2px solid #d5d5d5;
    margin: 0 0 28px;
}
.our-webcoderskull .cnt-block figure{
    width:148px;
    height:148px;
    border-radius:100%;
    display:inline-block;
    margin-bottom: 15px;
}
.our-webcoderskull .cnt-block img{
    width:148px;
    height:148px;
    border-radius:100%;
}
.our-webcoderskull .cnt-block h3{
    color:#2a2a2a;
    font-size:20px;
    font-weight:500;
    padding:6px 0;
    text-transform:uppercase;
}
.our-webcoderskull .cnt-block h3 a{
    text-decoration:none;
    color:#2a2a2a;
}
.our-webcoderskull .cnt-block h3 a:hover{
    color:#337ab7;
}
.our-webcoderskull .cnt-block p{
    color:#2a2a2a;
    font-size:13px;
    line-height:20px;
    font-weight:400;
}
.our-webcoderskull .cnt-block .follow-us{
    margin:20px 0 0;
}
.our-webcoderskull .cnt-block .follow-us li{
    display:inline-block;
    width:auto;
    margin:0 5px;
}
.our-webcoderskull .cnt-block .follow-us li .fa{
    font-size:24px;
    color:#767676;
}
.our-webcoderskull .cnt-block .follow-us li .fa:hover{
    color:#025a8e;
}
